In [1]:
!pip list|grep boto3

boto3              1.24.22

In [2]:
import boto3

In [3]:
s3_client = boto3.client('s3')

In [4]:
!ls -ltr data/retail_db/orders

total 5864
-rw-r--r--  1 itversity  staff  2999944 Jul  4 15:04 part-00000

In [5]:
!pip list|grep pandas

pandas             1.4.3

In [ ]:
!pip install pandas

In [7]:
!pip list|grep fsspec

fsspec             2022.5.0

In [ ]:
!pip install fsspec

In [8]:
!pip list|grep s3fs

s3fs               2022.5.0

In [ ]:
!pip install s3fs

In [9]:
!tail data/retail_db/orders/part-00000

68874,2014-07-03 00:00:00.0,1601,COMPLETE
68875,2014-07-04 00:00:00.0,10637,ON_HOLD
68876,2014-07-06 00:00:00.0,4124,COMPLETE
68877,2014-07-07 00:00:00.0,9692,ON_HOLD
68878,2014-07-08 00:00:00.0,6753,COMPLETE
68879,2014-07-09 00:00:00.0,778,COMPLETE
68880,2014-07-13 00:00:00.0,1117,COMPLETE
68881,2014-07-19 00:00:00.0,2518,PENDING_PAYMENT
68882,2014-07-22 00:00:00.0,10000,ON_HOLD
68883,2014-07-23 00:00:00.0,5533,COMPLETE

In [10]:
import pandas as pd

In [11]:
orders_df = pd.read_csv(
    's3://aibotodemo/data/retail_db/orders/part-00000',
    names=['order_id', 'order_date', 'order_customer_id', 'order_status']
)

In [12]:
type(orders_df)

pandas.core.frame.DataFrame

In [13]:
orders_df.head(10)

   order_id             order_date  order_customer_id     order_status
0         1  2013-07-25 00:00:00.0              11599           CLOSED
1         2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2         3  2013-07-25 00:00:00.0              12111         COMPLETE
3         4  2013-07-25 00:00:00.0               8827           CLOSED
4         5  2013-07-25 00:00:00.0              11318         COMPLETE
5         6  2013-07-25 00:00:00.0               7130         COMPLETE
6         7  2013-07-25 00:00:00.0               4530         COMPLETE
7         8  2013-07-25 00:00:00.0               2911       PROCESSING
8         9  2013-07-25 00:00:00.0               5657  PENDING_PAYMENT
9        10  2013-07-25 00:00:00.0               5648  PENDING_PAYMENT

In [14]:
orders_df.shape

(68883, 4)

In [15]:
orders_df.columns

Index(['order_id', 'order_date', 'order_customer_id', 'order_status'], dtype='object')

In [16]:
orders_df.dtypes

order_id              int64
order_date           object
order_customer_id     int64
order_status         object
dtype: object